.sidenav {
    background-color: #f4f6fa; 
    padding: 10px;
  }
  
.logo{
  font-size: x-large;
  font-weight: bold;
  color: #5876b7;
}

.customhr{
  width: 80%;           
  border: none;          
  border-top: 2px solid #e0e3e4;  
  margin: 20px auto; 
}

.dashcomponents{
  background-color: #ebf0fa;
}

