.seeAll{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 5px;
    color: #5876b7;
    padding-bottom: 20px;
}

.seeAll:hover{
    color: black;
    cursor: default;

}

.image{
    margin-left: 10px;
}

.businesslogos{
    display: flex;
    gap: 10px;
}