.progressContainer {
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }

  .step {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0;
  }

  .line {
    width: 60px;
    height: 3px;
    background-color: #ccc;
    position: relative;
  }

  .step.active {
    background-color: #5876b7;
  }

  .line.active {
    background-color: #5876b7;
  }

  .stepLabel {
    text-align: center;
    margin-top: 8px;
    font-size: 12px;
  }